<h2>The community bitcoin marketplace<h2>
<h1>Zipbit<h1>
<div class="body">You are currently logged in as: <%=user.user_name %></div>

<h3>What would you like to contribute to the marketplace?</h3>
<div class="flash_error"><%=flash[:error] %></div>
<form method="post" action="/userlistings">
<div class="field">
    <label for="title">Title</label>
    <input type="text" class="input" name="title" id="title" />
</div>
 
<div class="field">
    <label for="price">BTC</label>
    <input type="text" class="input" name="price" id="price" />
</div>
 
<div class="field">
    <label for="description">Description:</label>
    <textarea class="input textarea" name="description" id="description">
    </textarea>
</div>
    <!-- <input type="hidden" name="user_id" value="<%=params[:user_id] %>" /> -->
 
 <button type="submit">Submit Listing</button>
</form>

<h1>Current Listings</h1>
<ul>
<% listings.each do |listing| %>
    <li><%= listing.title %> &nbsp;-&nbsp; <%= listing.description %>&nbsp; PRICE:&nbsp;<%= listing.price %> BTC </li>

  <% end %>
  </ul>
